PAYLOAD_PORT=3100
DATABASE_URL=postgresql://slavx:CHANGE_ME@localhost:5433/payload_cms
PAYLOAD_SECRET=CHANGE_ME
PAYLOAD_PREVIEW_SECRET=CHANGE_ME
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3100
PAYLOAD_CONTENT_PREVIEW_TOKEN=CHANGE_ME
PAYLOAD_REVALIDATE_SECRET=CHANGE_ME
STOREFRONT_PREVIEW_URL=http://localhost:8000
STOREFRONT_PREVIEW_LOCALE=ru
STOREFRONT_REVALIDATE_URL=http://localhost:8000/api/content/revalidate
PAYLOAD_CORS=http://localhost:8000
PAYLOAD_CSRF=http://localhost:3100
